<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Sensor Data</title>
</head>
<body>
    <h1>Latest Sensor Readings</h1>
    <table>
        <tr>
            <th>Sensor ID</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Pressure</th>
            <th>VOC Gas</th>
            <th>Light (lux)</th>
            <th>Movement Counter</th>
        </tr>
        {% for data in sensor_data %}
            <tr>
                <td>{{ data.sensor_id }}</td>
                <td>{{ data.temperature }}</td>
                <td>{{ data.humidity }}</td>
                <td>{{ data.pressure }}</td>
                <td>{{ data.voc_gas }}</td>
                <td>{{ data.light }}</td>
                <td>{{ data.movement_counter }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>